<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/articleLayout.html}">

</script>
<div id="sub" layout:fragment="content">

    <script>
        window.onload = function (){
            //cateName이 일치하면 li ~~ 이쪽에 class = "on"을 주고싶다.
            const classOnTarget =  document.getElementById('[[${cateName.cate}]]');
            classOnTarget.classList.add("on");

        }
    </script>

    <div><img  th:src="@{/assets/img/sub_top_tit3.png}" alt="CROP TALK"></div>
    <section class="croptalk">
        <aside>
            <img th:src="@{/assets/img/sub_aside_cate3_tit.png}" alt="농작물이야기"/>

            <ul class="lnb">
                <li class="" id="story"><a th:href="@{/croptalk/list(cate='story')}">농작물이야기</a></li>
                <li class="" id="grow"><a th:href="@{/croptalk/list(cate='grow')}">텃밭가꾸기</a></li>
                <li class="" id="school"><a th:href="@{/croptalk/list(cate='school')}">귀농학교</a></li>  <!-- on 추가 -->
            </ul>

        </aside>
        <article>
            <nav>
                <img th:src="@{/assets/img/__${cateName.cate}__.png}" alt="농작물이야기"/> <!-- ??-->
                <p>
                    HOME > 농작물이야기 > <em>[[${cateName.boardName}]]</em> <!-- 완료 -->
                </p>
            </nav>

            <!-- 내용 시작 -->
            <div id="board">
                <section class="list" >
                    <form th:action="@{/croptalk/list}" method="get" class="search">
                        <input type="hidden" name="cate" th:value="${articlePageResponseDTO.cate}"/>
                        <select name="type" class="form-select" aria-label="Default select example">
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="title_content">제목+내용</option>
                            <option value="writer">글쓴이</option>
                        </select>
                        <input class="form-control" type="text" name="keyword" placeholder="검색 키워드 입력" />
                        <button type="submit" id="btnNavbarSearch" class="btn btn-primary"><i class="fas fa-search"></i> 검색</button>
                    </form>


                    <table border="0">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>날짜</th>
                            <th>조회</th>
                        </tr>
                        <tr th:each="article, index:${articlePageResponseDTO.dtoList}">
                            <td>[[${articlePageResponseDTO.startNo - index.index}]]</td>
                            <td><a th:href="@{/croptalk/view(cate=${cateName.cate}, no=${article.no})}" th:text="${article.title}"> </a></td>
                            <td th:text="${article.nick}"> </td>
                            <td th:text="${#temporals.format(article.rdate, 'yyyy-MM-dd')}"></td>
                            <td th:text="${article.hit}"> </td>
                        </tr>
                    </table>

                    <div class="page">
                        <!-- 게시물이 없을 때 -->
                        <div th:if="${articles.isEmpty()}">
                            <br/>
                            <p>게시물이 없습니다.</p>
                            <br/>
                        </div>
                        <!-- 게시글이 있을 때 -->
                        <th:block th:unless="${articles.isEmpty()}">
                            <!-- 이전 페이지 링크 -->
                            <a th:if="${articlePageResponseDTO.prev and articlePageResponseDTO.keyword == null}" class="prev" th:href="@{/croptalk/list(cate=${articlePageResponseDTO.cate}, pg=${articlePageResponseDTO.start - 1})}">&#60;</a>
                            <a th:if="${articlePageResponseDTO.prev and articlePageResponseDTO.keyword != null}" class="prev" th:href="@{/croptalk/list(cate=${articlePageResponseDTO.cate}, pg=${articlePageResponseDTO.start - 1}, type=${articlePageResponseDTO.type}, keyword=${articlePageResponseDTO.keyword})}">&#60;</a>
                            <!-- 페이지 번호 표시 -->
                            <a th:each="num:${#numbers.sequence(articlePageResponseDTO.start, articlePageResponseDTO.end)}" class="num" th:href="@{/croptalk/list(cate=${articlePageResponseDTO.cate}, pg=${num})}">[[${num}]]</a>
                            <!-- 다음 페이지 링크 -->
                            <a th:if="${articlePageResponseDTO.next and articlePageResponseDTO.keyword == null}" class="next" th:href="@{/croptalk/list(cate=${articlePageResponseDTO.cate}, pg=${articlePageResponseDTO.end + 1})}">&#62;</a>
                            <a th:if="${articlePageResponseDTO.next and articlePageResponseDTO.keyword != null}" class="next" th:href="@{/croptalk/list(cate=${articlePageResponseDTO.cate}, pg=${articlePageResponseDTO.end + 1}, type=${articlePageResponseDTO.type}, keyword=${articlePageResponseDTO.keyword})}">&#62;</a>
                        </th:block>
                    </div>

                    <a th:href="@{/croptalk/write(
                    cate=${cateName.cate},
                    type=${articlePageResponseDTO.type},
                    keyword=${articlePageResponseDTO.keyword}
                    )}"
                       th:if="${#authentication.principal != 'anonymousUser'}" class="btn btnWrite">글쓰기</a>


                </section>
            </div>
            <!-- 내용 끝 -->

        </article>
    </section>

</div>

</html>